@model WebAssignment.ViewModels.viewmodel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVBOT</title>
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="shortcut icon" href="~/img/movie-solid-24.png" type="image/x-icon">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>
<body>
    <!--=============== SECTION HOME ===============-->
    <section class="home swiper" id="home">

        <div class="swiper-wrapper">

            <!-- Box 1 -->
            <div class="swiper-slide container">
                <img src="img/hero.jpg" alt="">
                <div class="home-text">
                    <span>The Batman</span>
                    <h1>Zoom Into The Darkness</h1>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="6" class="btn">Summary</a>
                    <a href="batman.html" class="play">
                        <i class='bx bx-play'></i>
                    </a>
                </div>
            </div>

            <!-- Box 2 -->
            <div class="swiper-slide container">
                <img src="img/hero2.jpg" alt="">
                <div class="home-text">
                    <span> Doctor Strange in the Multiverse of Madness</span>
                    <h1>Multiverse Of Madness</h1>
                    <a href="doctor-strange.html" class="btn">Summary</a>
                    <a href="doctor-strange.html" class="play">
                        <i class='bx bx-play'></i>
                    </a>
                </div>
            </div>

            <!-- Box 3 -->
            <div class="swiper-slide container">
                <img src="img/hero3.jpg" alt="">
                <div class="home-text">
                    <span>Dune</span>
                    <h1>Planet Of Desert</h1>
                    <a href="dune.html" class="btn">Summary</a>
                    <a href="dune.html" class="play">
                        <i class='bx bx-play'></i>
                    </a>
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </section>


    <!--=============== SECTION MOVIES ===============-->
    <section class="movies" id="movies">
        <h2 class="heading">Popular Movies</h2>
        <!--Movies Container -->
        <div class="movies-container">
            <!-- Box 1 -->
            @foreach(var item in Model.popmvs){
                <div class="box">
                    <div class="box-img">
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@item.id"><img src="@item.lilmovimg"></a>
                    </div>
                    <h3>@item.name</h3>
                    <span>@item.duration min | @item.category</span>
                </div>
            }
        </div>
    </section>
    <partial name="SectionComingPartialView"/>
    <!--=============== Suggestion Part ===============-->
    <section class="section-sugges">
        <h2 class="heading">WHAT SHOULD I WATCH?</h2>
        <br>
        <!--Movies Container -->
        
        <div class="movies-container">
            @foreach(var item in Model.mvs){
                <div class="box active">
                    <div class="box-img">
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@item.id"><img src="@item.lilmovimg" alt=""></a>
                    </div>
                    <h3>@item.name</h3>
                    <span>@item.duration min | @item.category</span>
                </div>
            }
    </section>

    <partial name="LatestMovieNewsPartialView" />
        <!-- Newsletter -->
        <div class="newsletter-container">
            <h2>For News<br> Subscribe</h2>
            <form action="">
                <input type="email" class="email" placeholder="E-Mail" required>
                <input type="submit" value="Subscribe" class="btn">
            </form>
        </div>
    </section>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- JS -->
    <script src="/js/site.js"></script>

</body>
</html>